page-kategoriser {

    ion-content {
        h1 {
            text-align: center;
            padding-top: 20px;
        }
    }

    .toolbar-background{
    	background-color: #009987;
	}

	.toolbar-title{
    	color: #fff;
	}

}
