tidslinje-page {
	.ion-col-container{
		text-align: center;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.toolbar-background{
    	background-color: #009987;
	}

	.toolbar-title{
    	color: #fff;
	}
}

