page-forside {

    .icons{
        -webkit-text-stroke: 0.4px black;
        font-size: 30px;
    }

    .red{
        @extend .icons;
        color: rgba(255, 99, 132, 0.2);
    }
    .yellow{
        @extend .icons;
        color: rgba(255, 206, 86, 0.2);
    }
    .blue{
        @extend .icons;
        color: rgba(54, 162, 235, 0.2);
            
    }
    .green{
        @extend .icons;
        color: rgba(75, 192, 192, 0.2);
    }

    ion-select {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100%;
    }

    .scroll-content {
        margin-top: 160px;
        margin-bottom: 49px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        
    
}

.toolbar-background{
    background-color: #009987;
}

.toolbar-title{
    color: #fff;
}
.toolbar-header{
    margin-right: 400px;
}

.chart_container {
    padding-top: 20px;
}

.card-header-ios {
    padding: 1px !important;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}

.card-header-md {
    padding: 1px !important;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}

.label-ios {
    margin: 0px 0px 0px 0;
}

.label-md {
    margin: 0px 0px 0px 0;
}

.item-md {
        padding-left: 5px;
}


    
   

}
