
<ion-header>

  <ion-navbar>
    <ion-title>{{headerTitle}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item-group>

        <div *ngFor="let date of uniqueDates">
          <ion-item-divider sticky>
            {{date}}
          </ion-item-divider>

          <div *ngFor="let item of items | async">
            <div *ngIf="item.date === date">
              <ion-item>
                <h3>{{item.title}}</h3>
                <p>
                  {{item.amount}} Kr &mdash;
                  kl. {{item.time}}
                </p>
              </ion-item>
            </div>
          </div>


        </div>

  </ion-item-group>
</ion-content>
