page-sparing {
    
    .active {
        background: lawngreen !important;
    }

    .toolbar-background{
    background-color: #009987;
}

.toolbar-title{
    color: #fff;
}

progress-bar .progress-outer {
    height:  9px;
    margin: 0px !important;
}

progress-bar .progress-inner {
    min-width: 0%;
    max-width: 100%;
    padding: 0px; 
    border-radius: 2px;
    background-color: #FFA500;
    height: 2px;
}

 /*ion-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: darkorange !important;
}

ion-item-2 {
    background: grey !important;
}*/

}
