page-sparing {
    
    .active {
        background: lawngreen !important;
    }

    .toolbar-background{
    background-color: #009987;
}

.toolbar-title{
    color: #fff;
}

 ion-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: darkorange !important;
}

ion-item-2 {
    background: grey !important;
}

}
