
<ion-header>
    <ion-navbar>
        <ion-title>Sparinger</ion-title>
        
        <ion-buttons end>
            <button ion-button color="light" [navPush]="nySparing">
                <ion-icon style="font-size: 25px" name="add-circle"></ion-icon>
            </button> 
        </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding="true">
		<div *ngIf="lengthOfList == 0">
			Antall sparinger: {{lengthOfList}}
		<img src="assets/img/noSparing.png"/>
	</div>

	<ion-list>
		<ion-item *ngFor="let sparingListEntry of sparingList | async; 
		let i = index" no-lines
		[class.active]="isActive">
		

		
			<ion-icon color = "dnb" name="settings" (click)="onSelect2(sparingListEntry, sparingListEntry2);"></ion-icon>
			{{sparingListEntry.name}}
			<progress-bar [progress]="(sparingListEntry.spartPris / sparingListEntry.prisTotal) * 100"></progress-bar>
			
				
			
		</ion-item>

		
	</ion-list>


	
	
</ion-content>

<ion-footer>
  			<sparing-detail-component [sparingObject] = "selectedSparingObject"></sparing-detail-component>
</ion-footer>




	



