
<ion-header>
    <ion-navbar>
        <ion-title>Sparing</ion-title>
        
        <ion-buttons end>
            <button ion-button color="light" [navPush]="nySparing">
                <ion-icon style="font-size: 25px" name="add-circle"></ion-icon>
            </button> 
        </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding="true">

	Antall sparinger: {{lengthOfList}}

	<ion-list>
		<!--<ion-item *ngFor="let sparingListEntry of sparingList | async" no-lines>-->
		<ion-item *ngFor="let sparingListEntry of sparingList | async;
		let i = index" no-lines
		[class.active]="isActive"><!--Original-->
		

		<!--<ion-item *ngFor="let sparingListEntry of sparingList | async; let i = index" 
		[ngClass]="{'active': selectedIndex == i}" no-lines>-->

		<!--<ion-item *ngFor="let sparingListEntry of sparingList | async;
		let i = index" no-lines
		[ngClass]="{'active': selectedIndex == i}">-->


			<ion-icon color = "dnb" name="build" (click)="onSelect(sparingListEntry);"></ion-icon>
			{{sparingListEntry.name}}
			<ion-icon color = "dnb" name="trash" (click)="deleteSparingFirebase(sparingListEntry);"></ion-icon>
			<progress-bar [progress]="(sparingListEntry.spartPris / sparingListEntry.prisTotal) * 100"></progress-bar>
			
				
			
		</ion-item>

		
	</ion-list>


	
	
</ion-content>

<ion-footer>
  			<sparing-detail-component [sparingObject] = "selectedSparingObject"></sparing-detail-component>
	</ion-footer>




	



